{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rock, Paper, Scissors</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	</head>
	<body>

		<div id="header">
			<div class="container">
				<img class="photo" src="{% static 'Player_225.png' %}" alt="Gamer's photo">
				<div class="text_img">Вы</div>
			</div>
			<div id="results">
				<p><span id="scr_txt">{{ score_text }}</span>
				<br><p id="res_txt"> {{ result_text }}</p></p>
				<div id="vs">
					<img id="humanchoise" src="{% static '' %}{{ human_choice }}">
					<img src="{% static 'vs_small.png' %}" alt="VS." height="100%">
					<img id="enemychoise" src="{% static '' %}{{ AI_choice }}">
				</div>
			</div>
			<div class="container">
				<img class="photo" src="{% static 'AI_225.png' %}" alt="AI's photo">
				<div class="text_img">Ника (ИИ)</div>
			</div>
		</div>

		<div id="choosing">
			<p>Ваш выбор:</p>
			<div class="choosing--buttons">
				<form action="/" method="post">
					{% csrf_token %}
					<input type="image" title="Бумага" src="{% static 'paper_r.png' %}" name="btnPaper"/>
					<input type="image" title="Ножницы" src="{% static 'scissors_r.png' %}" name="btnScissors"/>
					<input type="image" title="Камень" src="{% static 'rock_r.png' %}" name="btnRock"/>
				</form>
			</div>
			<form action="/" method="post">
				{% csrf_token %}
				<input type="submit" class="button" name="btnReset" value="Сброс"></input>
			</form>
		</div>

		<div class='col-md-6' url-endpoint='{% url "api-data" %}'>
			<canvas id="myChart" style="margin-left: 50%"></canvas>
		</div>

        <script>
		{% block jquery %}
		var endpoint = 'api/chart/data'
		var defaultData = []
        var labels = [];

		$.ajax({
			method: "GET",
			url: endpoint,
			success: function(data){			
			    labels = data.labels
                defaultData = data.defaultData
				setChart()
			},
			error: function(error_data){
				console.log(error_data)
			}
		})
        function setChart() {
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'line',
				scaleSteps : 10,
                data: {
                    labels: labels,
					datasets: [{
                        label: '# Очки',
                        data: defaultData,
                        steppedLine: true,
						backgroundColor: [
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 159, 64, 0.4)'
						],
                    }]
                }, 
				options: {
					responsive: true,
					legend: {
						position: 'bottom',
					},
					hover: {
						mode: 'label'
					},
					scales: {
						xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Игры'
								}
							}],
						yAxes: [{
								display: true,
								ticks: {
									beginAtZero: true,
									fixedStepSize: 1,
								}
							}]
					},
            }
            })
        }

		{% endblock %}
		</script>
		<div class="container">
			<a href="https://github.com/Blackaist/RockScissorsPaper-Python" ><img src="{% static 'GitHub-Mark-32px.png' %}"></a>
			<a href="stats"><img src="{% static 'stats.png' %}" width="32px" height="32px"></a>
		</div>
	</body>
</html>
