{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rock, Paper, Scissors</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	</head>
	<body>
	<div class='container'>
		<div class='row'>
			<div class='col-6' url-endpoint='{% url "api-data" %}'>
				Всех игроков
				<canvas id="GlobalPie"></canvas>	
				<canvas id="GlobalPolar"></canvas>
            </div>
			<div class='col-6' url-endpoint='{% url "api-data" %}'>
				Только ваше
				<canvas id="LocalPie"></canvas>
				<canvas id="LocalPolar"></canvas>
			</div>	
			<canvas id="GlobalBubble"></canvas>
        </div>
</div>

        <script>
		{% block jquery %}
		var endpoint = 'api/chart/data'
		var defaultData = []
        var labels = [];

		$.ajax({
			method: "GET",
			url: endpoint,
			success: function(data){
			    labels = data.labels
                defaultData = data.defaultData
				
				g_forPie = data.globalPiePercentOfWins;
				l_forPie = data.localPiePercentOfWins;
				
				g_ForPolar = data.globalPolarChoices
				l_ForPolar = data.localPolarChoices
				
				g_forBubble = data.globalBubbleStory
				
                setPie('GlobalPie', g_forPie)
				setPie('LocalPie', l_forPie)
				setPolar('GlobalPolar', g_ForPolar)
				setPolar('LocalPolar', l_ForPolar)
				setBubble('GlobalBubble', g_forBubble)

			},
			error: function(error_data){
				console.log(error_data)
			}
		})
		
		function setPolar(chartID, dataset) {
            var ctx = document.getElementById(chartID).getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: [
							'Камень',
							'Ножницы',
							'Бумага'
						],
                    datasets: [{
                       label: '% Побед игрока',
                        data: dataset,
						backgroundColor: [
							'rgb(255, 99, 132)',
							'rgb(54, 162, 235)',
							'rgb(255, 205, 86)',
						],
					}]
				},
				options: {
					scale: {
						display: false
					}
				}

			});
        }
		
		function setBubble(chartID, dataset) {
            var ctx = document.getElementById(chartID).getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'bubble',
                data: {
                    labels: [
							'Победы',
							'Поражения',
							'Ничьи'
						],
                    datasets: [{
                       label: 'Когда люди выходят из игры',
                        data: dataset,
						backgroundColor: 
							'rgb(160, 100, 192)'
						,
					}]
				},
				options: {
					scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'Десять игр'
									},
									ticks: {
										beginAtZero: true,
										fixedStepSize: 10,
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'Очки'
									},
									ticks: {
										beginAtZero: true,
										fixedStepSize: 1,
									}
								}]
						},
				}

			});
        }
		
		function setPie(chartID, dataset) {
            var ctx = document.getElementById(chartID).getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
							'Победы',
							'Поражения',
							'Ничьи'
						],
                    datasets: [{
                       label: '% Player Wins',
                        data: dataset,
						backgroundColor: [
							'rgb(255, 99, 132)',
							'rgb(54, 162, 235)',
							'rgb(255, 205, 86)',
						],
					}]
				},

			});
        }
		
        function setChart(chartID) {
            var ctx = document.getElementById(chartID).getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                       label: '# Побед',
                        data: defaultData,
                        steppedLine: true,
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
						],
						borderColor: [
							'rgba(255,99,132,1)',
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
        }
		{% endblock %}
		</script>
		
	</body>
</html>
