body {
  box-sizing: border-box;
  /*background-color: white;*/
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  font-family: 'Play', sans-serif;
  font-size: 20px;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#header,
#choosing,
#results {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 150px;
}

form {
  margin: 0;
}

p, h1 {
  text-align: center;
  margin: auto 0;
}
h1 {
  font-size: 1.2em;
}
span {
  border: 4px double black;
  background: lightyellow;
}

.photo {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
}

div.container {
  position: relative;
}
div.text_img {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

a {
    background-image: linear-gradient(lightblue, skyblue);
    border: 1px solid #eee;
    border-radius: 3px;
    color: grey;
    display: inline-block;
    line-height: 32px;
    padding: 0 15px;
    text-decoration: none;
    transition: none;
    vertical-align: top;
}
a:hover {
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}
.button {
    background-color: #fce374;
    background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
    border: 1px solid #c9ae34;
    box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #967d09;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

input[type="image"] {
  border-radius: 50%;
  background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
  box-shadow: 3px 6px 20px rgba(0,0,0,0.3), -3px -6px 20px rgba(255,255,255,0.5);
}
input[type="image"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#humanchoise, #enemychoise {
  border-radius: 50%;
  background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
  box-shadow: 3px 6px 20px rgba(0,0,0,0.3), -3px -6px 20px rgba(255,255,255,0.5);
}
